body {
  margin: 0;
}
/* style="background:url('img/jade-wulfraat-yXnPoTkkY94-unsplash.jpg')" */
.hero {
  background: url("header-bg.png");
  height: 650px;
  color: #fff;
  text-align: center;
}
nav a {
  text-decoration: none;
  color: #fff;
  margin-top: 24px;
  height: fit-content;
  width: 80px;
}
nav {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.circle {
  border-radius: 50%;
  border: gold 4px solid;
  height: 10vh;
  width: 5vw;
  margin-top: 16px;
}

nav a:hover {
  border-bottom: gold solid 2px;
}

.title {
  margin-top: 18%;
}
.title h1 {
  font-size: xxx-large;
}
.date {
  position: absolute;
  writing-mode: vertical-rl;
  margin: 40px;
  margin-top: 150px;
}
.dash {
  height: 6px;
  width: 50px;
  background-color: gold;
  margin: 0 auto;
  border-radius: 6px;
}

.title button {
  width: 150px;
  height: 50px;
  background: transparent;
  border: #fff solid 1px;
  color: #fff;
  border-radius: 2px;
  margin: 20px;
  cursor: pointer;
}
.title button:hover {
  background: gold;
  color: #000;
  border: none;
}

/* body */

.class,
.class-2,
.class-3,
.class-4 {
  display: flex;
  justify-content: space-between;
  padding: 80px;
  /* height: 100vh; */
}

.class-2 {
  background: url("img/jade-wulfraat-yXnPoTkkY94-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  color: #fff;
}
.class-3 {
  text-align: center;
}
.class-4-container {
  background: url("header-bg.png");
  background-repeat: no-repeat;
  color: #fff;
}

.class .text,
.class-2 .text2,
.class-4 .text4 {
  width: 500px;
  text-align: center;
  display: flex;
  align-items: center;
}

.class-2 .text2 {
  margin-right: 100px;
}

.img {
  display: flex;
}

.img img {
  /* height: 400px; */
  width: 400px;
  z-index: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.box {
  height: 150px;
  width: 150px;
  border: gold solid 12px;
  z-index: 1;
  display: flex;
  align-self: center;
  position: relative;
  right: 80px;
}
.top-text {
  text-align: center;
  position: relative;
  top: 14px;
  letter-spacing: 2px;
}

.bookings {
  display: inline-grid;
  grid-template-columns: auto auto;
}
.bookings-container input,
select{ 
  border: none;
  background-color: rgb(196, 191, 191);
  height: 50px;
  width: 270px;
  margin: 6px;
  outline: none;
  border-radius: 2px;
  /* color: grey; */
}
.bookings-container button {
  display: block;
  background-color: gold;
  cursor: pointer;
  height: 50px;
  width: 562px;
  border: none;
  border-radius: 6px;
}
.bottom-text {
  text-align: center;
  letter-spacing: 2px;
}
.dots {
  color: grey;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 50px;
}
.dot {
  font-size: 40px;
  margin: 0px 20px;
  cursor: pointer;
}
.dot:hover {
  color: rgb(202, 199, 199);
}
/* .class2{
    display: flex;
    justify-content: space-around;
    height: 550px;
} */

/* .class2 .text{
    text-align: center;
    width: 70%;
    padding: 50px;
    position: relative;
    right: 40px;
    top: 30px;
} */
/* .class2 .text{
    text-align: center;
    padding: 50px;
} */
/* .class2 .box{
    position: relative;
    float: left;
} */

/* .class2 img{
    height: 400px;
    width: 350px;
} */

@media (max-width: 600px) {
  .class {
    flex-wrap: wrap;
  }
}
